In [35]:
import numpy as np
import pandas as pd

In [36]:
df = pd.read_csv('game_attention.csv')

In [37]:
df

,date,game_id,season,week,weekday,gametime,home_team,away_team,home_win_pct,away_win_pct,num_lead_changes,total_score,score_differential,overtime,attention
0,2013-09-05,2013_01_BAL_DEN,2013,1,Thursday,20:30,DEN,BAL,0.000000,0.000000,1,76.0,22.0,0,1906
1,2013-09-08,2013_01_NE_BUF,2013,1,Sunday,13:00,BUF,NE,0.000000,0.000000,2,44.0,-2.0,0,376
2,2013-09-08,2013_01_SEA_CAR,2013,1,Sunday,13:00,CAR,SEA,0.000000,0.000000,2,19.0,-5.0,0,482
3,2013-09-08,2013_01_CIN_CHI,2013,1,Sunday,13:00,CHI,CIN,0.000000,0.000000,2,45.0,3.0,0,349
4,2013-09-08,2013_01_MIA_CLE,2013,1,Sunday,13:00,CLE,MIA,0.000000,0.000000,2,33.0,-13.0,0,372
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1275,2017-12-31,2017_17_OAK_LAC,2017,17,Sunday,16:25,LAC,OAK,0.533333,0.400000,2,40.0,20.0,0,480
1276,2017-12-31,2017_17_BUF_MIA,2017,17,Sunday,16:25,MIA,BUF,0.400000,0.533333,0,38.0,-6.0,0,428
1277,2017-12-31,2017_17_ARI_SEA,2017,17,Sunday,16:25,SEA,ARI,0.600000,0.466667,2,50.0,-2.0,0,61
1278,2017-12-31,2017_17_NO_TB,2017,17,Sunday,16:25,TB,NO,0.266667,0.733333,4,55.0,7.0,0,463
1279,2017-12-31,2017_17_JAX_TEN,2017,17,Sunday,16:25,TEN,JAX,0.533333,0.666667,0,25.0,5.0,0,206

In [38]:
import pandas as pd
import numpy as np

# Home team win: 1 if score_diff > 0
df["home_win"] = (df["score_differential"] > 0).astype(int)

# Away team win: 1 if score_diff < 0
df["away_win"] = (df["score_differential"] < 0).astype(int)

home_games = df[["season", "home_team", "home_win"]].rename(
    columns={"home_team": "team", "home_win": "win"}
)

away_games = df[["season", "away_team", "away_win"]].rename(
    columns={"away_team": "team", "away_win": "win"}
)

team_games = pd.concat([home_games, away_games], ignore_index=True)

team_season_win_pct = (
    team_games
    .groupby(["season", "team"])
    .agg(
        games=("win", "size"),
        wins=("win", "sum")
    )
    .reset_index()
)

team_season_win_pct["win_pct"] = team_season_win_pct["wins"] / team_season_win_pct["games"]

print(team_season_win_pct)

     season team  games  wins  win_pct
0      2013  ARI     16    10   0.6250
1      2013  ATL     16     4   0.2500
2      2013  BAL     16     8   0.5000
3      2013  BUF     16     6   0.3750
4      2013  CAR     16    12   0.7500
..      ...  ...    ...   ...      ...
155    2017  SEA     16     9   0.5625
156    2017   SF     16     6   0.3750
157    2017   TB     16     5   0.3125
158    2017  TEN     16     9   0.5625
159    2017  WAS     16     7   0.4375

[160 rows x 5 columns]

In [39]:
df

,date,game_id,season,week,weekday,gametime,home_team,away_team,home_win_pct,away_win_pct,num_lead_changes,total_score,score_differential,overtime,attention,home_win,away_win
0,2013-09-05,2013_01_BAL_DEN,2013,1,Thursday,20:30,DEN,BAL,0.000000,0.000000,1,76.0,22.0,0,1906,1,0
1,2013-09-08,2013_01_NE_BUF,2013,1,Sunday,13:00,BUF,NE,0.000000,0.000000,2,44.0,-2.0,0,376,0,1
2,2013-09-08,2013_01_SEA_CAR,2013,1,Sunday,13:00,CAR,SEA,0.000000,0.000000,2,19.0,-5.0,0,482,0,1
3,2013-09-08,2013_01_CIN_CHI,2013,1,Sunday,13:00,CHI,CIN,0.000000,0.000000,2,45.0,3.0,0,349,1,0
4,2013-09-08,2013_01_MIA_CLE,2013,1,Sunday,13:00,CLE,MIA,0.000000,0.000000,2,33.0,-13.0,0,372,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1275,2017-12-31,2017_17_OAK_LAC,2017,17,Sunday,16:25,LAC,OAK,0.533333,0.400000,2,40.0,20.0,0,480,1,0
1276,2017-12-31,2017_17_BUF_MIA,2017,17,Sunday,16:25,MIA,BUF,0.400000,0.533333,0,38.0,-6.0,0,428,0,1
1277,2017-12-31,2017_17_ARI_SEA,2017,17,Sunday,16:25,SEA,ARI,0.600000,0.466667,2,50.0,-2.0,0,61,0,1
1278,2017-12-31,2017_17_NO_TB,2017,17,Sunday,16:25,TB,NO,0.266667,0.733333,4,55.0,7.0,0,463,1,0
1279,2017-12-31,2017_17_JAX_TEN,2017,17,Sunday,16:25,TEN,JAX,0.533333,0.666667,0,25.0,5.0,0,206,1,0